.button {
  margin-left: 6px;
  height: 30px;
}
/* .item:hover{

    background-color: green;
}
.itemInAnimation:hover{



} */
.navbar {
  height: 40px;
}
.dropdown-item {
  font-size: 14px;;

}
.spinner{
  margin-left: 4px;
}
