@import url('bootstrap-icons/font/bootstrap-icons.css');
.App {
  text-align: center;
}
.tute-img {
  margin: auto;
  justify-content: center;
  display: flex;
  width: 70%;
  height: 70%;
}
.button-img {
  width: 20%;
  height: 20%;
  margin: auto;
  padding: 10px;
  justify-content: center;
}
.body {
  height: 65vh;
}
.navbar-demo {
  width: 90%;
  height: 90%;
  justify-content: center;
  margin: auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.close {
  position: absolute;
  right: 650px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.col-xs-2 {
  border: 3px solid grey;
  height: 50px;
}
